{{#if categories}}
  <select
    class="category-selection"
    onchange={{action "categoryLookup"}}
    value="target.value"
  >
    {{#each categories as |category|}}
      <option class="category" value="{{category}}">{{category}}</option>
    {{/each}}
  </select>

  {{#if loadingCategory}}
    <div class="loading">
      <span>Retrieving Category</span>
      <span class="dot dot-1"></span>
      <span class="dot dot-2"></span>
      <span class="dot dot-3"></span>
    </div>
  {{/if}}

  {{#if showCategoryMessage}}
    {{#if inCategory}}
      <span class="p-footnote">This URL is already in the category
        {{selectedCategory}}, you can remove it by clicking the "Remove URL" button.</span>
    {{else}}
      <span class="p-footnote">This URL is not in the category
        {{selectedCategory}}, you can add it by clicking the "Add URL" button.</span>
    {{/if}}
  {{/if}}

  <div class="button-container">
    <button class="remove-url" disabled={{disableRemoveUrlButton}} {{action "removeUrl"}}>
      {{#if removeButtonIsRunning}}
        {{fa-icon icon="spinner-third" fixedWidth=true spin=true}}
      {{else}}
        Remove URL
      {{/if}}
    </button>
    <button class="add-url" disabled={{disableAddUrlButton}} {{action "addUrl"}}>
      {{#if addButtonIsRunning}}
        {{fa-icon icon="spinner-third" fixedWidth=true spin=true}}
      {{else}}
        Add URL
      {{/if}}
    </button>
  </div>

  {{#if addUrlErrorMessage}}
    <div class="alert alert-danger mt-1">
      {{addUrlErrorMessage}}
    </div>
  {{/if}}
{{/if}}